doctype html
html
 head
  link(rel='stylesheet',href='/stylesheets/index.css')
 body
  div.whole
   h1 Customer Registration
   br
   form(action="/account/admin/addcust",method="post")
    p #{name}
    input(type="text",name="uname")
    br
    br
    p #{pass}
    input(type="password",name="pass")
    br
    br
    p #{sta}
    input(type="radio",name="status",value="active")
    span Active
    input(type="radio",name="status",value="disabled")
    span Disabled
    br
    br
    input.b(type="submit",value="Add Customer")
    br
   


