doctype html
html
 head
  link(rel='stylesheet',href='/stylesheets/index.css')
 body
  div.whole
   h1 Admin Menu
    form
    br
    br
    input.b(type="button",value="Add Customer",onclick="window.location.pathname='/account/admin/addcust'")
    br
    br
    input.b(type="button",value="Add Item",onclick="window.location.pathname='/account/admin/additem'")
    br
    br
    input.b(type="button",value="Change Customer Status",onclick="window.location.pathname='/account/admin/statuschange'")

