doctype html
html
 head
  link(rel='stylesheet',href='/stylesheets/index.css')
 body
  div.whole
   h1 Customer Menu
    form
    br
    br
    input.b(type="button",value="Order",onclick="window.location.pathname='/account/ussignin/order'")
    br
    br
    input.b(type="button",value="Bill",onclick="window.location.pathname='/account/ussignin/bill'")  
    br
    br
    input.b(type="button",value="Items List",onclick="window.location.pathname='/account/ussignin/list'")

